---
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 99
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
DerivePointerAlignment: false
PointerAlignment: Left
---
Language: Cpp
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
