[user]
	email = ankushmenat@gmail.com
	name = Ankush Menat

[commit]
	gpgsign = false

[difftool]
	tool = vimdiff
	colorMoved = default

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[core]
	editor = nvim
	pager = delta


[merge]
	tool = nvim

[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[interactive]
	diffFilter = delta --color-only

[commit]
	verbose = true

[pull]
	ff = only

[blame]
	date = relative

[delta]
	features = line-numbers
	whitespace-error-style = 22 reverse
	syntax-theme = Dracula

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none

[includeIf "gitdir:~/benches/"]
  path = .gitconfig_frappe

[alias]
	pick = cherry-pick -x
	fomo = !git fetch upstream develop:develop && git rebase develop
