[user]
	email = ankushmenat@gmail.com
	name = Ankush Menat
	signingkey = CB36108D7E7ECE21

[commit]
	gpgsign = true

[difftool]
	tool = vimdiff
	colorMoved = default

[color "status"]
	added = green bold
	changed = yellow bold
	untracked = red bold

[core]
	editor = nvim
	pager = delta


[merge]
	tool = nvim

[mergetool "nvim"]
	cmd = nvim -f -c \"Gdiffsplit!\" \"$MERGED\"

[interactive]
	diffFilter = delta --color-only

[commit]
	verbose = true
	template = ~/.gitmessage

[pull]
	ff = only


[delta]
	features = line-numbers
	whitespace-error-style = 22 reverse
	syntax-theme = Dracula

[delta "decorations"]
	commit-decoration-style = bold yellow box ul
	file-style = bold yellow ul
	file-decoration-style = none
